.full-size-sidenav-btn {
  background: none !important;
}

@media screen and (max-width: 768px) {
  .sidebar-picker, .full-size-sidenav-btn {
    margin-bottom: 10px;
    display: flex;
    position: relative;
    z-index: 10;
  }
}